.topic_card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 0;
  font-family: $sans;
  text-decoration: none;
  z-index: 1;

  &[data-open="true"] {
    width: 100%;

    i {
      opacity: 1;
    }
  }

  &:hover {
    background: $light-blue-100;

    i {
      opacity: 1;
    }
  }

  img {
    $width: 300px;
    width: $width;
    height: math.div($width * 9, 16);
  }

  i {
    position: relative;
    left: 10px;
    width: 0;
    color: $light-blue-500;
    opacity: 0;
    transition: opacity $fast;
  }

  span {
    margin-top: 10px;
  }

  span:nth-of-type(1) {
    font-weight: $medium;
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: -5px;
}
