---
---

@import "palettes";
@import "theme";
@import "mixins";

.applet {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.applet_aspectRatio {
  position: relative;

  /* Use padding-top trick to fix the aspect ratio to 16:9 */
  padding-top: 56.25%;
}

.applet_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: black;
  border: none;
}