---
---

@import "palettes";
@import "theme";
@import "mixins";

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background: $gray-300;
  border: none;
  border-radius: 5px;
  font-family: $sans;
  font-size: 1rem;
  transition: background $fast, color $fast;

  &:hover {
    background: $light-blue-100;
    cursor: pointer;
  }
}
