---
---

@import "palettes";
@import "theme";
@import "mixins";

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background: none;
  border: none;
  font-family: $sans;
  font-size: 0.9rem;
  cursor: pointer;
}
