---
---

@import "palettes";
@import "theme";
@import "mixins";

.clickable {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 10px;
  color: inherit;
  border: none;
  font-family: $sans;
  font-size: 1em;
  text-decoration: none;
  min-width: 50px;
  min-height: 50px;
  margin: 10px;
  padding: 10px 15px;
  background: $gray-200;
  color: $black;

  &:hover {
    background: $light-blue-100;
  }

  .clickable_text {
    text-align: center;
    font-family: $sans;
    font-weight: $medium;
  }

  &[data-icon]:not([data-text]) {
    padding: 0;

    .clickable_icon {
      font-size: 1.2em;
    }
  }

  &[data-text] {
    padding: 10px 15px;
  }

  &[data-icon][data-text] {
    .clickable_icon {
      margin-right: 0.8em;
    }
  }

  &[data-style="rounded"] {
    min-width: 50px;
    min-height: 50px;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 999px;
    background: $black;
    color: $white;

    &:hover {
      background: $light-blue-500;
    }
  }

  &[data-active="false"] {
    background: none;

    &:hover {
      background: $gray-200;
    }
  }

  &[data-active="true"] {
    background: $light-blue-100;
  }
}
