---
---

@import "palettes";
@import "theme";
@import "mixins";

@import "palettes";
@import "theme";
@import "mixins";

.figure {
  flex-direction: column;
  margin: 40px 0;
  @include trim-v-margins;

  .figure_image,
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .figure_caption {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
  }
}
