---
---

@import "palettes";
@import "theme";
@import "mixins";

.figure {
  flex-direction: column;
  margin: 40px 0;
  @include trim-v-margins;

  .figure_controls {
    text-align: right;

    button {
      border-radius: 5px 5px 0 0;
    }

    @media (max-width: 500px) {
      text-align: center;
    }
  }

  img,
  video {
    display: none;
    max-width: 100%;
  }

  &[data-show="image"] {
    img {
      display: block;
    }

    .figure_controls {
      button:last-child {
        background: none;
      }
    }
  }

  &[data-show="video"] {
    video {
      display: block;
    }

    .figure_controls {
      button:first-child {
        background: none;
      }
    }
  }

  .figure_caption {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
  }
}
