---
---

@import "palettes";
@import "theme";
@import "mixins";

$tablet: 1000px;
$phone: 600px;

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: $black;
  color: $white;
  font-family: $sans;
  overflow: hidden;
  box-shadow: $shadow, inset 0 0 200px 0 $black;

  .copyright {
    text-align: center;
  }

  .social {
    font-size: 1.4rem;
    margin: unset;
  }

  @media (max-width: $phone) {
    flex-direction: column-reverse;

    .copyright {
      margin-top: 10px;
    }
  }
}
