---
---

@import "palettes";
@import "theme";
@import "mixins";

$tablet: 900px;
$phone: 600px;

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  @media (max-width: $tablet) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: $phone) {
    & {
      grid-template-columns: 1fr;
    }
  }
}
