---
---

@import "palettes";
@import "theme";
@import "mixins";

.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  svg {
    position: absolute;
    width: 100%;
    top: 50%;
    opacity: 0.25;
    animation: rotate 120s linear forwards infinite;

    @keyframes rotate {
      0% {
        transform: translateY(-50%) perspective(1000px) rotateX(65deg)
          rotateZ(0deg);
      }
      100% {
        transform: translateY(-50%) perspective(1000px) rotateX(65deg)
          rotateZ(360deg);
      }
    }

    line {
      stroke-dasharray: 2000;
      stroke-dashoffset: 6000;
      animation: draw 15s ease-in-out forwards infinite;
    }

    @for $i from 1 through 42 {
      line:nth-child(#{$i}) {
        animation-delay: #{2 + $i / 20}s;
      }
    }

    @keyframes draw {
      0% {
        stroke-dashoffset: 6000;
      }
      30% {
        stroke-dashoffset: 4000;
      }
      70% {
        stroke-dashoffset: 4000;
      }
      100% {
        stroke-dashoffset: 2000;
      }
    }
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 1000px 100px $black;
  }
}
