---
---

@import "palettes";
@import "theme";
@import "mixins";

$phone: 500px;

.lessons {
  width: 100%;
  margin-bottom: 20px;
}

.lesson_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  background: $gray-200;
  color: $black;
  text-decoration: none;
  text-align: left;
  transition: background $fast;

  &:hover {
    background: $light-blue-100;
  }

  & > * {
    margin: 0 10px;
    @include trim-h-margins;
  }

  img {
    height: 100px;
  }

  .lesson_card_text {
    flex-grow: 1;
    word-break: break-word;

    & > * {
      @include line-clamp(2);

      &:nth-child(1) {
        font-weight: $semi-bold;
      }

      &:nth-child(2) {
        margin-top: 10px;
        color: $gray-700;
      }
    }
  }

  &:not([href]) {
    pointer-events: none;

    i,
    img {
      opacity: 0.25;
    }
  }

  &[data-mini] {
    padding: 10px;

    & > * {
      margin: 0 5px;
      @include trim-h-margins;
    }

    img {
      height: 50px;
    }

    .lesson_card_text {
      font-size: 0.9rem;

      & > * {
        @include line-clamp(3);
      }
    }
  }

  &[data-active] {
    background: $light-blue-100;
  }

  @media (max-width: $phone) {
    padding: 10px;

    img {
      height: 50px;
    }

    .lesson_card_text {
      & > * {
        @include line-clamp(3);

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  &[data-hidden] {
    visibility: hidden;

    @media (max-width: $phone) {
      display: none;
    }
  }
}
