---
---

@import "palettes";
@import "theme";
@import "mixins";

.lesson_gallery {
  [data-tab] {
    display: none;
  }

  &[data-show="featured"] {
    [data-tab="featured"] {
      display: unset;
    }
  }

  &[data-show="topics"] {
    [data-tab="topics"] {
      display: unset;
    }
  }

  &[data-show="date"] {
    [data-tab="date"] {
      display: unset;
    }
  }
}
