---
---

@import "palettes";
@import "theme";
@import "mixins";

$phone: 500px;

.lessons {
  width: 100%;
  margin-bottom: 20px;
}

.lesson_card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  color: $black;
  text-decoration: none;
  text-align: left;
  transition: background $fast;

  &:hover {
    background: $light-blue-100;
  }

  & > * {
    margin: 0 10px;
  }

  img {
    height: 100px;
  }

  .lesson_card_text {
    display: grid;
    grid-gap: 10px;
    flex-grow: 1;
    word-break: break-word;

    & > * {
      @include line-clamp(2);

      &:first-child {
        font-family: $sans;
        font-weight: $medium;
      }
    }
  }

  &[data-mini="true"] {
    padding: 10px;

    & > * {
      margin: 0 5px;
    }

    img {
      height: 50px;
    }

    .lesson_card_text {
      font-size: 0.9rem;
    }
  }

  &[data-active="true"] {
    background: $gray-200;
  }

  &[data-reverse="false"] {
    & > * {
      @include trim-h-margins;
    }
  }

  &[data-reverse="true"] {
    flex-direction: row-reverse;
    text-align: right;

    & > *:first-child {
      margin-right: 0;
    }

    & > *:last-child {
      margin-left: 0;
    }
  }

  @media (max-width: $phone) {
    padding: 10px;

    img {
      height: 50px;
    }

    .lesson_card_text {
      & > *:not(:first-child) {
        display: none;
      }
    }
  }
}
