---
---

@import "palettes";
@import "theme";
@import "mixins";

$page: 1000px;

section {
  position: relative;
  overflow: hidden;

  .section {
    box-sizing: content-box;
    max-width: $page;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }

  &:nth-child(even) {
    background: $white;
  }

  &:nth-child(even) {
    background: $gray-50;
  }

  &:last-child {
    flex-grow: 1;
  }

  &[data-dark="true"] {
    background: $gray-900;
    color: $white;
  }
}
