---
---

@import "palettes";
@import "theme";
@import "mixins";

.social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  @include hover;
}
