---
---

@import "palettes";
@import "theme";
@import "mixins";

$hide: 1100px;

.spotlight_pis {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  & > * {
    position: absolute;

    &:first-child {
      left: -20px;
      bottom: -20px;
    }

    &:last-child {
      right: -20px;
      bottom: -20px;
    }

    @media (max-width: $hide) {
      display: none;
    }
  }
}
