---
---

@import "palettes";
@import "theme";
@import "mixins";

$phone: 600px;

.toc {
  margin: 20px 0;
  @include trim-v-margins;

  .toc_nav {
    display: grid;
    grid-template-columns: 1fr 70px 1fr;
    grid-gap: 20px;

    & > * {
      margin: 0;
    }

    @media (max-width: $phone) {
      grid-template-columns: 1fr;

      button {
        order: 1;
      }
    }
  }

  &[data-open] {
    .toc_nav {
      .mini_lesson_card {
        display: none;
      }
    }
  }

  .toc_content {
    display: none;
    max-height: 50vh;
    margin-top: 20px;
    overflow-y: auto;
  }

  &[data-open] {
    .toc_content {
      display: block;
    }
  }
}
