---
---

@import "palettes";
@import "theme";
@import "mixins";

.table_wrapper {
  margin: 40px 0;
  @include trim-v-margins;
  overflow-x: auto;

  table {
    margin: 0 auto;
    border-collapse: collapse;

    th,
    td {
      padding: 10px 15px;
      border: solid 1px $gray-500;
    }

    tr:first-child th {
      border-top: 0;
    }
    tr:last-child td {
      border-bottom: 0;
    }
    tr td:first-child,
    tr th:first-child {
      border-left: 0;
    }
    tr td:last-child,
    tr th:last-child {
      border-right: 0;
    }
  }
}
