---
---

@import "palettes";
@import "theme";
@import "mixins";

$phone: 600px;

.toc {
  margin: 20px 0;
  @include trim-v-margins;

  .toc_nav {
    display: grid;
    grid-template-columns: 1fr 70px 1fr;
    grid-gap: 20px;

    & > * {
      margin: 0;
    }

    .toc_prev {
      grid-column: 1;
    }

    .toc_list {
      grid-column: 2;
      background: none;
      min-height: 40px;

      &:hover {
        background: $light-blue-100;
      }
    }

    .toc_next {
      grid-column: 3;
    }

    @media (max-width: $phone) {
      grid-template-columns: 1fr;

      .toc_prev,
      .toc_list,
      .toc_next {
        grid-column: 1;
      }

      .toc_list {
        grid-row: 3;
      }
    }
  }

  .toc_content {
    max-height: 50vh;
    margin-top: 20px;
    overflow-y: auto;
  }

  &[data-open="false"] {
    .toc_content {
      display: none;
    }
  }

  &[data-open="true"] {
    .toc_content {
      display: block;
    }
  }
}
