// colors
$black: #000000;
$off-black: #303030;
$dark-gray: #606060;
$gray: #a0a0a0;
$light-gray: #e0e0e0;
$off-white: #f0f0f0;
$white: #ffffff;
$blue: #03a9f4;
$brown: #ad4e2b;

// fonts
$serif: "Lora", serif;
$sans: "Poppins", sans-serif;
$mono: "Cousine", monospace;

// line spacing
$spacing: 1.5;

// transitions
$fast: 0.25s ease;
$slow: 0.5s ease;

// effects
$shadow: 0 0 10px 0 #00000040;

// responsive design
$page: 1000px; // max-width of the main page column
$tablet: 800px; // screen width cutoff point for tablets
$phone: 500px; // screen width cutoff point for phones
