// colors
$blue: #74c0e3;

// fonts
$serif: "Lora", serif;
$sans: "Poppins", sans-serif;
$mono: "Cousine", monospace;

// line spacing
$spacing: 1.5;

// transitions
$fast: 0.25s ease;
$slow: 0.5s ease;

// effects
$shadow: 0 0 10px 0 #00000040;
