.videoArea {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas:
    ". topic ."
    "prev video next";
  column-gap: 10px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .videoArea {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "topic topic"
      "video video"
      "prev next";
  }
  .arrowLeft,
  .arrowRight {
    padding: 0;
  }
}

.topicLink {
  grid-area: topic;
  place-self: start start;
  color: white;
  font-size: 20px;
  font-family: $sans;
  text-decoration: none;
  transition: none;

  i {
    margin-right: 16px;
  }

  &:hover,
  &:focus {
    color: $blue-300;
  }
  &:active {
    color: $blue-500;
  }
}

.expandButton {
  grid-area: topic;
  font-size: 20px; 
  width: 25px;
  color: white;
  margin-left: auto; 
  margin-right: 0;
  // margin-top: 0;
  // margin-bottom: auto;

  &:hover {
    font-size: 22px;
    color: $blue-300;
  }
}

.arrowLeft,
.arrowRight {
  padding: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  transition: none;

  &:hover,
  &:focus {
    color: $blue-300;
    font-size: 40px;
  }
  &:active {
    color: $blue-500;
  }
}

.arrowLeft {
  place-self: center end;
  grid-area: prev;
}

.arrowRight {
  place-self: center start;
  grid-area: next;
}

.video {
  grid-area: video;
  margin-top: 20px;
}

.coverButton {
  position: relative;
  background: black;
}

.coverPlayButton {
  position: absolute;
  width: 5%;
  min-width: 40px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgba(33, 33, 33, 0.8);
  transition: color 100ms ease-in-out;
}

.coverButton:hover .coverPlayButton,
.coverPlayButton:active .coverPlayButton {
  color: red;
}

.frame {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 10;
}

.bottomSpacer {
  height: 65px;
}
