{
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    },
    {
      "files": "*.!(css)",
      "options": {
        "plugins": ["@ianvs/prettier-plugin-sort-imports"],
        "importOrder": [
          "<TYPES>^react",
          "<TYPES>^[^~/.]",
          "<TYPES>^~/",
          "<TYPES>^/",
          "<TYPES>^./",
          "<TYPES>^../",
          "<TYPES>",
          "^react",
          "^[^~/.]",
          "^~/",
          "^/",
          "^./",
          "^../"
        ],
        "importOrderParserPlugins": ["typescript", "jsx", "importAssertions"],
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
