.interactive {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;

  margin: 40px auto;
  background: $black;
}

.sizer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
