.talent_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  margin: 10px;
  padding: 20px;
  gap: 10px;
  color: $black;
  font-family: $sans;
  text-decoration: none;
  transition: background $fast;
  overflow: hidden;

  &:hover {
    background: $light-blue-50;
  }
}

.image {
  z-index: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 4 / 3;
  padding: 20px;
}

.banner {
  z-index: -1;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.vignette {
  z-index: -1;
  position: absolute;
  inset: 0;
  background: radial-gradient(white, transparent);
}

.logo {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
