.talent_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  margin: 10px;
  padding: 20px;
  gap: 10px;
  color: $black;
  font-family: $sans;
  text-decoration: none;
  transition: background $fast;
  overflow: hidden;

  &:hover {
    background: $light-blue-50;
  }
}

.image {
  position: relative;
  width: 300px;
  height: 300px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}

.text {
  font-size: 1rem;
  opacity: 0;
  transition: opacity $fast;
}

.talent_card:hover .text {
  opacity: 0.8;
}
