{% assign images = site.static_files | where_exp: "image", "image.path contains include.images" %}

<div class="swiper-container">
  <div class="swiper-wrapper">
    {%- for image in images -%}
      <a href="{{ include.link | append: image.basename }}" class="swiper-slide">
        <img src="{{ image.path | relative_url }}" />
      </a>
    {%- endfor -%}
  </div>
</div>

<div class="swiper-navigation">
  {% 
    include components/clickable.html
    icon="fas fa-arrow-left"
    class="swiper-prev"
    style="rounded"
  %}
  <div class="swiper-pagination"></div>
  {% 
    include components/clickable.html
    icon="fas fa-arrow-right"
    class="swiper-next"
    style="rounded"
  %}
</div>
