.grid {
  animation: rotate-grid 120s linear both infinite;
}

.line {
  animation: draw-line 15s ease-in-out both infinite;
}

@keyframes rotate-grid {
  0% {
    transform: translateY(-50%) perspective(4000px) rotateX(65deg) rotateZ(0deg);
  }
  100% {
    transform: translateY(-50%) perspective(4000px) rotateX(65deg)
      rotateZ(360deg);
  }
}

@keyframes draw-line {
  0% {
    stroke-dashoffset: 3;
  }
  25%,
  75% {
    stroke-dashoffset: 2;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
