.stroke-type {
  animation: stroke-type 1s linear both;
  -webkit-text-stroke-width: 0.5px;
}

@keyframes stroke-type {
  0% {
    color: transparent;
    -webkit-text-stroke-color: transparent;
  }
  33%,
  66% {
    color: transparent;
    -webkit-text-stroke-color: var(--color-theme);
  }
  100% {
    color: currentColor;
    -webkit-text-stroke-color: transparent;
  }
}
