<!-- metatags.io -->
<!-- realfavicongenerator.net -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'favicons/ios.png' | relative_url }}"/>
<link rel="icon" type="image/png" sizes="512x512" href="{{ 'favicons/favicon.png' | relative_url }}"/>
<link rel="manifest" href="{{ 'favicons/site.webmanifest' | relative_url }}" />
{% if page.video %}
  {% assign thumbnail = "https://img.youtube.com/vi/$VIDEO/hqdefault.jpg" | replace: "$VIDEO", page.video %}
{% else %}
  {% assign thumbnail = "favicons/share-thumbnail.jpg" | relative_url %}
{% endif %}
<meta property="og:image" content="{{ thumbnail }}"/>
<meta property="twitter:image" content="{{ thumbnail }}"/>
