<footer>
  <div class="copyright">
    &copy; {{ site.time | date: '%Y' }} Grant Sanderson
  </div>

  <div class="social">
    {%
      include components/clickable.html
      link="https://www.patreon.com/3blue1brown"
      icon="fab fa-patreon"
      tooltip="Patreon"
    %}
    {%
      include components/clickable.html
      link="https://www.youtube.com/3blue1brown"
      icon="fab fa-youtube"
      tooltip="YouTube"
    %}
    {%
      include components/clickable.html
      link="https://www.reddit.com/r/3Blue1Brown/"
      icon="fab fa-reddit-alien"
      tooltip="Reddit"
    %}
    {%
      include components/clickable.html
      link="https://twitter.com/3blue1brown"
      icon="fab fa-twitter"
      tooltip="Twitter"
    %}
    {%
      include components/clickable.html
      link="https://www.instagram.com/3blue1brown_animations/"
      icon="fab fa-instagram"
      tooltip="Instagram"
    %}
    {%
      include components/clickable.html
      link="http://www.facebook.com/3blue1brown"
      icon="fab fa-facebook"
      tooltip="Facebook"
    %}
    {%
      include components/clickable.html
      link="https://store.dftba.com/collections/3blue1brown"
      icon="fas fa-store"
      tooltip="Store"
    %}
  </div>
</footer>
