<footer>
  <div class="copyright">
    &copy; {{ site.time | date: '%Y' }} Grant Sanderson
  </div>

  <div class="social">
    {% include components/link.html link="https://www.patreon.com/bePatron?u=938934" icon="fab fa-patreon" tooltip="Patreon" %}
    {% include components/link.html link="https://www.youtube.com/3blue1brown" icon="fab fa-youtube" tooltip="YouTube" %}
    {% include components/link.html link="https://www.reddit.com/r/3Blue1Brown/" icon="fab fa-reddit-alien" tooltip="Reddit" %}
    {% include components/link.html link="https://twitter.com/3blue1brown" icon="fab fa-twitter" tooltip="Twitter" %}
    {% include components/link.html link="https://www.instagram.com/3blue1brown_animations/" icon="fab fa-instagram" tooltip="Instagram" %}
    {% include components/link.html link="http://www.facebook.com/3blue1brown" icon="fab fa-facebook" tooltip="Facebook" %}
  </div>
</footer>
