<header data-big="{{ page.big-header | default: false }}">
  {% include special/header-background.html %}

  <a href="{{ '/' | relative_url }}" class="logo">
    {% include images/logo.svg %}
    <span>
      {% assign letters = site.title | split: "" %}
      {%- for letter in letters -%}
        <span>{{ letter }}</span>
      {%- endfor -%}
    </span>
  </a>
  
  <nav data-expanded="false">
    <button onclick="toggleNav(this)">
      <i class="fas fa-bars"></i>
      <span>Menu</span>
    </button>
    <a
      href="{{ 'lessons' | relative_url }}"
      data-tooltip="Various maths topics, in text and video form"
    >
      Lessons
    </a>
    <a
      href="{{ 'extras' | relative_url }}"
      data-tooltip="Collaborations, cameos, talks, and more"
    >
      Extras
    </a>
    <a
      href="{{ 'about' | relative_url }}"
      data-tooltip="About Grant and other channels"
    >
      About
    </a>
    <a
      href="{{ 'contact' | relative_url }}"
      data-tooltip="Frequently asked questions and contact info"
    >
      Contact
    </a>

    <div class="desktop_break"></div>
    
    <a
      href="https://www.youtube.com/3blue1brown"
      data-tooltip="Subscribe on YouTube"
    >
      Subscribe
    </a>
    <a
      href="https://store.dftba.com/collections/3blue1brown"
      data-tooltip="Shirts, plushies, and more"
    >
      Store
    </a>
    <a
      href="https://www.patreon.com/3blue1brown"
      data-tooltip="Help the channel stay ad-free, and get Patreon rewards"
    >
      Support
    </a>
  </nav>

</header>
