<div class="lesson_details">

  {% if page.date %}
    <div>
      <i class="far fa-calendar"></i>
      <span>Published {{ page.date | date: "%B %d, %Y" }}</span>
    </div>
  {% endif %}

  {% if page.last_modified_at %}
    <div>
      <i class="far fa-clock"></i>
      <span>Updated {{ page.last_modified_at | default: page.date | date: "%B %d, %Y" }}</span>
    </div>
  {% endif %}

  <br>

  {% if page.credits.size > 0 %}
    {% for credit in page.credits %}
      <div>
        <i class="fas fa-feather-alt"></i>
        <span>{{ credit }}</span>
      </div>
    {% endfor %}
  {% endif %}

  <br>
  
  {% if page.topic %}
    <div>
      <i class="fas fa-book"></i>
      <span>{{ page.topic }}</span>
    </div>
  {% endif %}

  {% if page.tags.size > 0 %}
    <div>
      <i class="fas fa-tag"></i>
      <span>{{ page.tags | join: ", " }}</span>
    </div>
  {% endif %}

</div>
