<a {% if include.lesson.url %}href="{{ include.lesson.url | relative_url }}"{% endif %} class="lesson_card" {% if include.lesson.title == page.title %}data-active{% endif %} {% if include.mini %}data-mini{% endif %} data-fade>

  {% if include.lesson.video and include.lesson.video != "" %}

    {% if include.icon-before %}
      <i class="{{ include.icon-before }}"></i>
    {% endif %}

    <img src="https://img.youtube.com/vi/{{ include.lesson.video }}/hqdefault.jpg" />

    <span class="lesson_card_text">
      {% if include.lesson.title and include.lesson.title != "" %}
        <span>{{ include.lesson.title }}</span>
      {% endif %}
      {% if include.mini != true and include.lesson.description and include.lesson.description != "" %}
        <span>{{ include.lesson.description }}</span>
      {% endif %}
    </span>

    {% if include.icon-after %}
      <i class="{{ include.icon-after }}"></i>
    {% endif %}

  {% endif %}

</a>
{{- -}}
