{% assign name = nil %}
{% assign lessons = nil %}
{% assign index = nil %}
{% for topic in site.data.topics %}
  {% for lesson in topic.lessons %}
    {% if page.slug == lesson %}
      {% assign name = topic.name %}
      {% assign lessons = topic.lessons %}
      {% assign index = forloop.index | minus: 1 %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign prevIndex = index | minus: 1 %}
{% assign nextIndex = index | plus: 1 %}
{% assign prev = nil %}
{% assign next = nil %}
{% if prevIndex >= 0 %}
  {% assign prev = lessons[prevIndex] %}
{% endif %}
{% if nextIndex < lessons.size %}
  {% assign next = lessons[nextIndex] %}
{% endif %}

{% if name and lessons.size > 0 %}

  <div class="toc" data-open="false">
    <div class="toc_nav">
      {%
        include template/lesson-card.html
        mini=true
        id=prev
        icon="fas fa-arrow-left"
        tooltip="Previous lesson"
        class="toc_prev"
      %}
      <button
        class="toc_list"
        onclick="toggleToc(this)"
        data-tooltip="Topic lesson list"
      >
        <i class="fas fa-list-ul"></i>
      </button>
      {%
        include template/lesson-card.html
        mini=true
        id=next
        icon="fas fa-arrow-right"
        reverse=true
        tooltip="Next lesson"
        class="toc_next"
      %}
    </div>

    <div class="toc_content">
      {% for lesson in lessons %}
        {% include template/lesson-card.html mini=true id=lesson %}
      {% endfor %}
    </div>
  </div>

{% endif %}
