<div class="topics">
  {% assign lessons = site.posts | sort: "order" %}
  {% for topic in site.data.topics %}
    {% assign hash = topic | downcase | split: " " | join: "-" %}
    {% assign image = "images/topics/" | append: hash | append: ".jpg" %}
    {%
      include template/topic-card.html
      id=hash
      image=image
      text=topic
      expanded=include.expanded
    %}
    <div class="lessons">
      {% for lesson in lessons %}
        {% if lesson.topic == topic %}
          {% include template/lesson-card.html lesson=lesson %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
<p class="center">
  {%
    include components/clickable.html
    onclick="toggleTopics(this)"
    text="Expand All"
    style="plain"
  %}
</p>
