<div class="gallery">
  {% include components/card.html image="images/topics/topic.jpg" text="Essence of Linear Algebra" %}
  {% include components/card.html image="images/topics/topic.jpg" text="Essence of Calculus" %}
  {% include components/card.html image="images/topics/topic.jpg" text="Neural Networks" %}
  {% include components/card.html image="images/topics/topic.jpg" text="Differential Equations" %}
  {% include components/card.html image="images/topics/topic.jpg" text="What is ___?" %}
  {% include components/card.html image="images/topics/topic.jpg" text="Geometry" %}
  {% include components/card.html image="images/topics/topic.jpg" text="Why π?" %}
  {% include components/card.html image="images/topics/topic.jpg" text="Physics" %}
</div>
