.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 25px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.social {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}