.container {
  width: 640px;
  height: 420px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "controls controls"
    "coeffs roots";
  gap: 13px;

  align-items: stretch;
  justify-items: center;
  align-content: center;
}

.coeffs {
  grid-area: coeffs;
  padding-left: 13px;
}

.roots {
  grid-area: roots;
  padding-right: 13px;
}

.coeffs,
.roots {
  color: white;
  font-size: 18px;
}

.graph {
  border: 1px solid white;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 8px;
  font-size: 12px;
}

.controls {
  grid-area: controls;
  justify-self: start;
  display: flex;
  background: #333;
}

.controlButton {
  color: white;
  padding: 4px 8px;

  i {
    margin-right: 8px;
  }

  &:disabled {
    color: black;
    background: $blue;
  }
}

.actionButton {
  position: absolute;
  bottom: 4px;
  left: 4px;
  z-index: 100;

  color: black;
  background: white;
  padding: 4px 8px;

  i {
    margin-right: 8px;
  }

  &:disabled {
    cursor: not-allowed !important;
    background: #ccc;
  }
}
