{%- comment -%}
Script to modify main content of page:
- add section breaks
- wrap each table in div to allow for scrolling
{%- endcomment -%}

{%- assign content = include.content -%}

{%- assign content = content | replace: "<table>", "<div class='table_wrapper'><table>" -%}
{%- assign content = content | replace: "</table>", "</table></div>" -%}

{% assign sections = content | split: "<!-- section break -->" %}

{% for section in sections %}

<section>
  <div class="section">
    {{ section }}
  </div>
</section>

{% endfor %}
