<!-- metatags.io -->
<!-- realfavicongenerator.net -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'favicons/ios.png' | relative_url }}"/>
<link rel="icon" type="image/png" sizes="512x512" href="{{ 'favicons/favicon.png' | relative_url }}"/>
<link rel="manifest" href="{{ 'favicons/site.webmanifest' | relative_url }}" />
<meta property="og:image" content="{{ 'favicons/share-thumbnail.jpg' | relative_url }}"/>
<meta property="twitter:image" content="{{ 'favicons/share-thumbnail.jpg' | relative_url }}"/>
