<footer>
  <div class="copyright">
    &copy; {{ site.time | date: '%Y' }} Grant Sanderson
  </div>

  <div class="social">
    <a href="https://www.3blue1brown.com/support" data-tooltip="Patreon">
      <i class="fab fa-patreon fa-lg"></i>
    </a>
    <a href="https://www.youtube.com/3blue1brown" data-tooltip="YouTube">
      <i class="fab fa-youtube fa-lg"></i>
    </a>
    <a href="https://twitter.com/3blue1brown" data-tooltip="Twitter">
      <i class="fab fa-twitter fa-lg"></i>
    </a>
    <a href="https://www.reddit.com/r/3Blue1Brown/" data-tooltip="Reddit">
      <i class="fab fa-reddit fa-lg"></i>
    </a>
    <a href="https://www.instagram.com/3blue1brown_animations/" data-tooltip="Instagram">
      <i class="fab fa-instagram fa-lg"></i>
    </a>
    <a href="http://www.facebook.com/3blue1brown" data-tooltip="Facebook">
      <i class="fab fa-facebook fa-lg"></i>
    </a>
  </div>
</footer>
