<!-- metatags.io -->
<!-- realfavicongenerator.net -->
<meta name="title" content="{{ title }}" />
<meta name="description" content="{{ page.description | default: site.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.location }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ page.description | default: site.description }}" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ site.location }}" />
<meta property="twitter:title" content="{{ title }}" />
<meta property="twitter:description" content="{{ page.description | default: site.description }}" />

<!-- rss -->
<link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | absolute_url }}"/>
