.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  @include trim-v-margins;
}

.controls {
  width: 100%;
  text-align: right;

  button {
    margin: 0 !important;
    padding: 10px 15px !important;
    min-width: unset !important;
    min-height: unset !important;
  }
}

.image {
  display: none;
  max-width: 100%;
}

.video {
  display: none;
  max-width: 100%;
}

.figure[data-show="image"] .image {
  display: block;
}

.figure[data-show="video"] .video {
  display: block;
}

.caption {
  margin-top: 10px;
  margin-bottom: 0;
  font-style: italic;
  text-align: center;
}
