3freq2.png filter=lfs diff=lfs merge=lfs -text
AD_1080.png filter=lfs diff=lfs merge=lfs -text
2ps.png filter=lfs diff=lfs merge=lfs -text
6seconds.png filter=lfs diff=lfs merge=lfs -text
AD2.png filter=lfs diff=lfs merge=lfs -text
DAFC.png filter=lfs diff=lfs merge=lfs -text
sound_example.png filter=lfs diff=lfs merge=lfs -text
sum.png filter=lfs diff=lfs merge=lfs -text
to_infinity1.png filter=lfs diff=lfs merge=lfs -text
3freq2_1080.png filter=lfs diff=lfs merge=lfs -text
almost.png filter=lfs diff=lfs merge=lfs -text
AD.png filter=lfs diff=lfs merge=lfs -text
to_infinity2.png filter=lfs diff=lfs merge=lfs -text
com_1_1080.png filter=lfs diff=lfs merge=lfs -text
com_1.png filter=lfs diff=lfs merge=lfs -text
conclusion.png filter=lfs diff=lfs merge=lfs -text
full_machine_1080.png filter=lfs diff=lfs merge=lfs -text
a440.png filter=lfs diff=lfs merge=lfs -text
windy_arrows.png filter=lfs diff=lfs merge=lfs -text
3ps.png filter=lfs diff=lfs merge=lfs -text
centered.png filter=lfs diff=lfs merge=lfs -text
e2i.png filter=lfs diff=lfs merge=lfs -text
full_machine.png filter=lfs diff=lfs merge=lfs -text
imag_too.png filter=lfs diff=lfs merge=lfs -text
scaling.png filter=lfs diff=lfs merge=lfs -text
3freq.png filter=lfs diff=lfs merge=lfs -text
a440_1080.png filter=lfs diff=lfs merge=lfs -text
DAFC_1080.png filter=lfs diff=lfs merge=lfs -text
e2i_1080.png filter=lfs diff=lfs merge=lfs -text
winding_match.png filter=lfs diff=lfs merge=lfs -text
com_1.mp4 filter=lfs diff=lfs merge=lfs -text
DAFC.mp4 filter=lfs diff=lfs merge=lfs -text
windy_arrows.mp4 filter=lfs diff=lfs merge=lfs -text
6seconds.mp4 filter=lfs diff=lfs merge=lfs -text
motivation.mp4 filter=lfs diff=lfs merge=lfs -text
to_infinity.mp4 filter=lfs diff=lfs merge=lfs -text
winding_match.mp4 filter=lfs diff=lfs merge=lfs -text
sum.mp4 filter=lfs diff=lfs merge=lfs -text
3freq2.mp4 filter=lfs diff=lfs merge=lfs -text
a440.mp4 filter=lfs diff=lfs merge=lfs -text
e2i.mp4 filter=lfs diff=lfs merge=lfs -text
full_machine.mp4 filter=lfs diff=lfs merge=lfs -text
scaling.mp4 filter=lfs diff=lfs merge=lfs -text
AD.mp4 filter=lfs diff=lfs merge=lfs -text
