$collapse: 800px;

.lesson_nav {
  margin: 20px 0;
  @include trim-v-margins;
}

.controls {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;

  & > * {
    margin: 0;
  }

  @media (max-width: $collapse) {
    grid-template-columns: 1fr;
  }
}

.prev {
  grid-column: 1;
}

.toggle {
  grid-column: 2;
  min-width: 70px;
  background: none;

  @media (max-width: $collapse) {
    grid-row: 3;
  }
}

.next {
  grid-column: 3;
}

.prev,
.toggle,
.next {
  @media (max-width: $collapse) {
    grid-column: 1;
  }
}

.list {
  max-height: 50vh;
  margin-top: 20px;
  overflow-y: auto;
}
