.chip {
  margin: 5px;
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 0.8rem;
  vertical-align: middle;
  letter-spacing: 0;
  color: white;

  &[data-mini="false"] {
    margin-right: 10px;
  }

  &[data-mode="dark"] {
    background: rgba($blue-300, 0.5);
  }

  &[data-mode="light"] {
    background: rgba($blue-800, 0.5);
  }
}
