@import "tailwindcss";

@theme {
  --breakpoint-sm: 30rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 70rem;
  --breakpoint-xl: 85rem;

  --font-serif: "Source Serif 4 Variable", serif;
  --font-sans: "Figtree Variable", sans-serif;
  --font-mono: "Sometype Mono Variable", monospace;

  --font-weight-*: initial;

  --font-weight-normal: 350;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --color-*: initial;

  --color-theme: oklch(55% 0.15 240);
  --color-secondary: oklch(55% 0.15 60);

  --color-black: hsl(0, 0%, 0%);
  --color-off-black: hsl(0, 0%, 10%);
  --color-dark-gray: hsl(0, 0%, 30%);
  --color-gray: hsl(0, 0%, 60%);
  --color-light-gray: hsl(0, 0%, 90%);
  --color-off-white: hsl(0, 0%, 97%);
  --color-white: hsl(0, 0%, 100%);

  --color-shadow: #00000020;
  --color-overlay: #00000080;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-theme: oklch(80% 0.15 240);
  --color-secondary: oklch(80% 0.15 60);

  --color-black: hsl(0, 0%, 100%);
  --color-off-black: hsl(0, 0%, 97%);
  --color-dark-gray: hsl(0, 0%, 90%);
  --color-gray: hsl(0, 0%, 60%);
  --color-light-gray: hsl(0, 0%, 30%);
  --color-off-white: hsl(0, 0%, 10%);
  --color-white: hsl(0, 0%, 0%);
}

@layer base {
  html {
    @apply bg-white font-serif leading-normal font-normal text-black underline-offset-2;
  }

  body {
    @apply flex min-h-dvh flex-col;
  }

  main {
    @apply flex grow flex-col;
  }

  header,
  footer {
    @apply relative isolate gap-8 overflow-hidden bg-white p-8 text-black max-md:gap-4 max-md:p-4;
  }

  section {
    --width: 250;
    @apply relative isolate flex flex-col gap-(--pad) overflow-hidden bg-white px-[max(var(--pad),(100%---spacing(1)*var(--width))/2)] py-(--pad) text-black [--pad:--spacing(12)] last:grow max-md:[--pad:--spacing(8)] max-sm:[--pad:--spacing(4)];
  }

  hr {
    @apply col-span-full h-px w-full border-0 bg-current/10;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply flex w-full scroll-mt-12 items-center gap-4 font-sans leading-normal font-medium;
  }

  h1 {
    @apply justify-center text-center text-4xl tracking-widest uppercase;
  }

  h2 {
    @apply justify-center text-center text-2xl tracking-wider uppercase;
  }

  h3 {
    @apply text-xl tracking-wide;
  }

  h4 {
    @apply text-lg tracking-wide;
  }

  p {
    @apply text-justify leading-loose;
  }

  strong,
  b {
    @apply font-bold;
  }

  svg {
    @apply overflow-visible;
  }

  img {
    @apply max-h-full max-w-full;
  }

  ul,
  ol {
    @apply flex list-[revert] flex-col pl-6 leading-loose;
  }

  li {
    @apply pl-2;
  }

  li:has(ul, ol) {
    @apply list-none;
  }

  blockquote {
    @apply bg-off-white border-theme gap-4 border-l-4 p-8 leading-loose;

    & :last-child {
      @apply text-dark-gray float-right mt-4 ml-4 leading-normal italic;
    }
  }

  pre {
    @apply bg-off-black max-w-full overflow-auto p-4 text-white;
  }

  :not(pre) > code {
    @apply bg-current/10 px-0.5 py-px;
  }

  table {
    @apply border-collapse overflow-hidden;
  }

  thead tr {
    @apply bg-off-white;
  }

  tr {
    @apply even:bg-off-white bg-white;
  }

  th {
    @apply font-medium;
  }

  th,
  td {
    @apply not-last:border-light-gray p-2 not-last:border-r;
  }

  a {
    @apply text-theme underline transition-all hover:text-current;
  }

  button,
  summary {
    @apply inline-flex cursor-pointer items-center justify-center font-sans transition-all;
  }

  details {
    @apply contents;
  }

  label {
    @apply inline-flex cursor-pointer items-center gap-2;
  }

  input,
  textarea {
    @apply min-w-0 font-sans;
  }

  .icon {
    @apply inline-block h-[1.25em] w-[unset];
  }
}

@utility narrow {
  &:is(section) {
    --width: 200;
  }
}

@utility wide {
  &:is(section) {
    --width: 350;
  }
}

@utility full {
  &:is(section) {
    --width: 9999;
  }
}

@utility badge {
  @apply bg-theme mx-1 rounded-full px-1 font-sans text-white;
}

[data-draw] {
  @apply relative;
  animation: text-fade-in 1s 1s linear both;

  &::before,
  &::after {
    @apply absolute inset-0 grid place-items-center content-[attr(data-draw)];
  }

  &::before {
    @apply wipe;
    -webkit-text-stroke: 0.5px var(--color-theme);
    -webkit-text-fill-color: transparent;
  }

  &::after {
    @apply wipe text-black [--delay:0.5s];
  }
}

@keyframes text-fade-in {
  from {
    color: transparent;
  }
}

@utility wipe {
  mask-image: linear-gradient(
    to right,
    transparent 25%,
    white 35%,
    white 65%,
    transparent 75%
  );
  mask-size: 400% 100%;
  animation: wipe var(--duration, 3s) var(--delay, 0s) linear both;
}

@keyframes wipe {
  from {
    mask-position: 100% 0%;
  }
  to {
    mask-position: 0% 0%;
  }
}

@utility perspective-rotate {
  animation: perspective-rotate 120s linear both infinite;
}

@keyframes perspective-rotate {
  0% {
    transform: rotateX(65deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(65deg) rotateZ(360deg);
  }
}

@utility stroke-path {
  animation: stroke-path 15s ease-in-out both infinite;
  stroke-dasharray: 1;
}

@keyframes stroke-path {
  0% {
    stroke-dashoffset: 3;
  }
  25%,
  75% {
    stroke-dashoffset: 2;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
