@import "tailwindcss";

@theme {
  --breakpoint-sm: 30rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 70rem;
  --breakpoint-xl: 85rem;

  --font-serif: "Source Serif 4 Variable", serif;
  --font-sans: "Figtree Variable", sans-serif;
  --font-mono: "Sometype Mono Variable", monospace;

  --font-weight-*: initial;

  --font-weight-normal: 350;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --radius-*: initial;
  --radius-md: 10px;

  --shadow-sm: 0 0 5px var(--color-shadow);
  --shadow-md: 0 0 10px var(--color-shadow);
  --shadow-lg: 0 0 20px var(--color-shadow);
  --shadow-xl: 0 0 40px var(--color-shadow);
  --shadow-overlay: 0 0 0 9999px var(--color-shadow);

  --color-*: initial;

  --color-theme: oklch(55% 0.15 240);
  --color-secondary: oklch(55% 0.15 60);

  --color-black: hsl(0, 0%, 0%);
  --color-off-black: hsl(0, 0%, 10%);
  --color-dark-gray: hsl(0, 0%, 30%);
  --color-gray: hsl(0, 0%, 60%);
  --color-light-gray: hsl(0, 0%, 90%);
  --color-off-white: hsl(0, 0%, 97%);
  --color-white: hsl(0, 0%, 100%);

  --color-success: oklch(55% 0.15 180);
  --color-warning: oklch(55% 0.15 50);
  --color-error: oklch(55% 0.15 10);

  --color-shadow: #00000080;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-theme: oklch(80% 0.15 240);
  --color-secondary: oklch(80% 0.15 60);

  --color-black: hsl(0, 0%, 100%);
  --color-off-black: hsl(0, 0%, 97%);
  --color-dark-gray: hsl(0, 0%, 90%);
  --color-gray: hsl(0, 0%, 60%);
  --color-light-gray: hsl(0, 0%, 30%);
  --color-off-white: hsl(0, 0%, 10%);
  --color-white: hsl(0, 0%, 0%);

  --color-success: oklch(80% 0.15 180);
  --color-warning: oklch(80% 0.15 50);
  --color-error: oklch(80% 0.15 10);
}

@layer base {
  * {
    text-box: trim-both text;
  }

  html {
    @apply bg-white font-serif leading-normal font-normal text-black underline-offset-2;
  }

  body {
    @apply flex min-h-dvh flex-col;
  }

  main {
    @apply flex grow flex-col;
  }

  section {
    --width: 250;
    @apply relative isolate flex flex-col gap-8 overflow-hidden bg-white px-[max(var(--pad),(100%---spacing(1)*var(--width))/2)] py-(--pad) text-black [--pad:--spacing(16)] last:grow max-md:[--pad:--spacing(8)];
  }

  hr {
    @apply h-px border-0 bg-current/10;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply flex w-full scroll-mt-12 items-center gap-4 font-sans leading-normal;
  }

  h1 {
    @apply justify-center text-center text-4xl tracking-widest uppercase;
  }

  h2 {
    @apply justify-center text-center text-2xl tracking-wider uppercase;
  }

  h3 {
    @apply justify-center text-center text-xl font-medium tracking-wide;
  }

  h4 {
    @apply justify-center text-center text-lg font-medium tracking-wide;
  }

  p {
    @apply text-justify leading-loose;
  }

  strong,
  b {
    @apply font-bold;
  }

  svg {
    @apply overflow-visible;
  }

  img {
    @apply max-h-full max-w-full;
  }

  ul,
  ol {
    @apply flex list-[revert] flex-col gap-4 pl-6 leading-loose;
  }

  li {
    @apply pl-2;
  }

  li:has(ul, ol) {
    @apply list-none;
  }

  blockquote {
    @apply bg-light-gray border-theme gap-4 rounded-r-md border-l-2 p-8 leading-loose;
  }

  pre {
    @apply bg-off-black max-w-full overflow-auto rounded-md p-4 text-white;
  }

  :not(pre) > code {
    @apply bg-current/10 px-0.5 py-px;
  }

  table {
    @apply border-collapse overflow-hidden rounded-md;
  }

  thead tr {
    @apply bg-off-white;
  }

  tr {
    @apply even:bg-off-white bg-white;
  }

  th {
    @apply font-medium;
  }

  th,
  td {
    @apply not-last:border-light-gray p-2 not-last:border-r;
  }

  a {
    @apply text-theme underline transition hover:text-current;
  }

  button {
    @apply inline-flex cursor-pointer items-center justify-center font-sans transition;
  }

  label {
    @apply inline-flex cursor-pointer flex-col gap-2 transition;
  }

  input,
  textarea {
    @apply min-w-0 font-sans transition;
  }

  select {
    @apply min-w-0 cursor-pointer font-sans transition;
  }

  :focus-visible {
    @apply outline-theme! outline-2 outline-offset-2;
  }
}

@utility icon {
  @apply inline-block h-[1.25em] w-[unset];
}

@utility narrow {
  &:is(section) {
    --width: 200;
  }
}

@utility wide {
  &:is(section) {
    --width: 350;
  }
}

@utility full {
  &:is(section) {
    --width: 9999;
  }
}

@utility card-button {
  @apply hover:outline-theme hover:bg-theme/10 relative flex flex-col items-center justify-start text-center text-balance text-black no-underline outline-2 outline-offset-2 outline-transparent;

  & > :nth-child(1) {
    @apply w-full;
  }

  & > :nth-child(2) {
    @apply m-4 font-sans text-lg font-medium;
  }

  & > :nth-child(3) {
    @apply m-4 mt-0 line-clamp-3 font-serif;
  }
}

@utility badge {
  @apply bg-theme mx-1 rounded-md px-1 font-sans text-white;
}

@utility stroke-type {
  animation: stroke-type 1s linear both;
  -webkit-text-stroke-width: 0.5px;
}

@keyframes stroke-type {
  0% {
    color: transparent;
    -webkit-text-stroke-color: transparent;
  }
  50% {
    color: transparent;
    -webkit-text-stroke-color: var(--color-theme);
  }
  100% {
    color: currentColor;
    -webkit-text-stroke-color: transparent;
  }
}

@utility wipe-in {
  mask-image: linear-gradient(to right, black 33%, transparent 66%);
  mask-size: 300% 100%;
  animation: wipe-in var(--duration, 1s) var(--delay, 0s) linear both;
}

@keyframes wipe-in {
  from {
    mask-position: 100% 0%;
  }
  to {
    mask-position: 0% 0%;
  }
}

@utility perspective-rotate {
  animation: perspective-rotate 120s linear both infinite;
}

@keyframes perspective-rotate {
  0% {
    transform: perspective(2000px) rotateX(65deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(2000px) rotateX(65deg) rotateZ(360deg);
  }
}

@utility stroke-path {
  animation: stroke-path 15s ease-in-out both infinite;
  stroke-dasharray: 1;
}

@keyframes stroke-path {
  0% {
    stroke-dashoffset: 3;
  }
  25%,
  75% {
    stroke-dashoffset: 2;
  }
  100% {
    stroke-dashoffset: 1;
  }
}
