@import "palettes";
@import "theme";
@import "mixins";

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  font-family: $sans;
  font-size: 1em;
  cursor: pointer;
  transition: background $fast, color $fast, opacity $fast;
}
