@import "palettes";
@import "theme";
@import "mixins";

pre,
code,
pre *,
code * {
  font-family: $mono;
  text-align: left;
}

// inline code
:not(pre) > code {
  padding: 2px 6px;
  background: $gray-800;
  color: $white;
  line-height: $spacing;
}

// code block
pre {
  margin: 40px 0;
  @include trim-v-margins;
  padding: 20px;
  background: $gray-800;
  overflow-x: auto;
  overflow-y: auto;
}
