@import "palettes";
@import "theme";
@import "mixins";

.dropdown {
    text-align: left;
    background-color: #fff3e6;

    .dropdown_title {
        margin: 10px;
        font-weight: $semi-bold;
    }

    .dropdown_content {
        display: none;
        margin: 10px;
    }
}

.dropdown:hover {
    cursor: pointer;
}