@import "palettes";
@import "theme";
@import "mixins";

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  @include trim-v-margins;

  .figure_controls {
    text-align: right;

    @media (max-width: 500px) {
      text-align: center;
    }

    .clickable {
      margin: 0;
    }
  }

  img,
  video {
    display: none;
    max-width: 100%;
  }

  &[data-show="image"] {
    img {
      display: block;
    }
  }

  &[data-show="video"] {
    video {
      display: block;
    }
  }

  .figure_caption {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
  }
}
