---
---

@import "palettes";
@import "theme";
@import "mixins";

$wrap: 600px;

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: $black;
  color: $white;
  font-family: $sans;
  overflow: hidden;
  box-shadow: $shadow, inset 0 0 200px 0 $black;

  .footer_copyright {
    text-align: center;
  }

  .footer_icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    @include hover;

    a {
      color: $white;
      padding: 10px;
    }
  }

  @media (max-width: $wrap) {
    flex-direction: column-reverse;

    .footer_copyright {
      margin-top: 10px;
    }
  }
}
