@import "palettes";
@import "theme";
@import "mixins";

#___gcse_0 {
  .gsc-input-box {
    table {
      height: 40px;
    }
  }

  .gsc-search-button {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      padding: 0;
    }
  }

  .gsc-results-wrapper-visible {
    text-align: left;
  }

  .gsc-thumbnail-inside,
  .gsc-url-top,
  .gsc-table-result {
    margin: 5px 0;
  }

  .gs-image-box {
    margin-right: 10px;
  }
}
