@import "palettes";
@import "theme";
@import "mixins";

.lesson_details {
  color: $gray-600;
  font-style: italic;

  & > div {
    display: inline-block;
    margin: 5px 10px;

    span {
      margin-left: 10px;
    }
  }
}
