@import "palettes";
@import "theme";
@import "mixins";

$page: $page + 600px;

.pi_creature {
  &[data-text="false"] {
    --size: 150px;

    &[data-style="big"] {
      --size: 200px;
    }
  }

  &[data-text="true"] {
    --size: 250px;

    &[data-style="big"] {
      --size: 300px;
    }
  }

  width: var(--size);
  height: var(--size);
  max-width: 100%;
  margin: 0 auto;

  .pi_creature_frame {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;

    & > * {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .pi_creature_text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $black;
    }

    svg {
      overflow: visible;
    }
  }

  &[data-text="true"] {
    .pi_creature_frame {
      & > * {
        width: 50%;
        height: 50%;
      }
    }
  }

  &[data-flip="false"] {
    left: calc(-1 * var(--size) - 20px);

    .pi_creature_frame {
      & > *:first-child {
        left: 0;
        bottom: 0;
      }

      & > *:not(:first-child) {
        right: 0;
        top: 0;
      }
    }
  }

  &[data-flip="true"] {
    right: calc(-1 * var(--size) - 20px);

    svg {
      transform: scaleX(-1);
    }

    .pi_creature_frame {
      & > *:first-child {
        right: 0;
        bottom: 0;
      }

      & > *:not(:first-child) {
        left: 0;
        top: 0;
      }
    }
  }

  &[data-placement="side"] {
    position: absolute;

    .pi_creature_frame {
      transform: translateY(-100%);
    }

    @media (max-width: $page) {
      display: none;
    }
  }

  &[data-placement="auto"] {
    @media (min-width: $page) {
      position: absolute;

      .pi_creature_frame {
        transform: translateY(-100%);
      }
    }

    @media (max-width: $page) {
      position: static;
    }
  }
}
