@import "palettes";
@import "theme";
@import "mixins";

@media print {
  header,
  footer,
  .video,
  .lesson_nav {
    display: none;
  }

  h1,
  h2 {
    break-before: page;
  }

  .figure {
    break-inside: avoid;
  }
}
