@import "palettes";
@import "theme";
@import "mixins";

.toc {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  max-width: calc(100vw - 60px);
  font-family: $sans;
  background: $white;
  box-shadow: 0 0 10px #00000020;
  z-index: 10;
  transition: transform $fast, opacity $fast;

  &[data-open="false"] {
    transform: translateX(-100%);
    box-shadow: none;
  }

  .toc_heading {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 10px;

    & > span {
      flex-grow: 1;
      margin-left: 20px;
    }

    .toc_close {
      margin: 0;
      background: none;

      &:hover {
        background: $light-blue-100;
      }
    }

    .toc_open {
      position: absolute;
      left: 100%;
      margin: 0;
      background: $gray-200;

      &:hover {
        background: $light-blue-100;
      }
    }
  }

  &[data-open="true"] {
    .toc_close {
      opacity: 1;
    }

    .toc_open {
      opacity: 0 !important;
      pointer-events: none;
    }
  }

  &[data-open="false"] {
    .toc_close {
      opacity: 0;
      pointer-events: none;
    }

    .toc_open {
      opacity: 1;
    }
  }

  .toc_list {
    flex-grow: 1;
    overflow-y: auto;

    .toc_link {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        background: $light-blue-100;
      }

      &[data-level="1"] {
        padding-left: 20px;
      }
      &[data-level="2"] {
        padding-left: 30px;
      }
      &[data-level="3"] {
        padding-left: 40px;
      }
      &[data-level="4"] {
        padding-left: 50px;
      }
    }
  }
}
