@import "palettes";
@import "theme";
@import "mixins";

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-glow="true"] {
  animation: glow 2s;
}

@keyframes glow {
  0% {
    background: none;
  }
  10% {
    background: $light-blue-100;
  }
  100% {
    background: none;
  }
}

[data-shake="true"] {
  animation: shake 0.25s linear forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
