.pulse {
  animation: pulse ease both infinite;
}

@keyframes pulse {
  0% {
    color: #74e37d;
    fill-opacity: 0;
    stroke-opacity: 0;
  }
  50% {
    color: #74c0e3;
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    color: #e3be74;
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
