{%- if include.link -%}
  {%- assign tag = "a" -%}
{%- else -%}
  {%- assign tag = "button" -%}
{%- endif -%}
<{{ tag }} {% if include.link %}href="{{ include.link | relative_url }}"{% endif %} {% if include.onclick %}onclick="{{ include.onclick }}"{% endif %} class="clickable {{ include.class }}" data-tooltip="{{ include.tooltip }}" {% if include.icon %}data-icon{% endif %} {% if include.text %}data-text{% endif %} data-style="{{ include.style }}" {% if include.active != nil %}data-active="{{ include.active }}"{% endif %}>
  {%- if include.icon -%}
    <span class="icon">
      {%- if include.icon contains "fa-" -%}
        <i class="{{ include.icon }}"></i>
      {%- else -%}
        {%- include {{ include.icon }} -%}
      {%- endif -%}
    </span>
  {%- endif -%}

  {%- if include.text -%}
    <span class="text truncate">{{ include.text }}</span>
  {%- endif -%}
</{{ tag }}>
{{- -}}
