{%- if include.width -%}
  {%- capture size -%}width: {{ include.width }}{%- endcapture -%}
{%- elsif include.height -%}
  {%- capture size -%}height: {{ include.height }}{%- endcapture -%}
{%- else -%}
  {%- capture size -%}width: 100%{%- endcapture -%}
{%- endif -%}
{%- assign show = include.show | default: "image" -%}
<figure class="figure" data-show="{{ show }}">
  {% if include.image and include.video %}
    <div class="figure_controls">
      {% if show == "image" %}
        {% assign active = true %}
      {% else %}
        {% assign active = false %}
      {% endif %}
      {%
        include components/clickable.html
        icon="far fa-image"
        text="Still"
        active=active
        onclick="figureShow(this, 'image')"
      %}
      
      {% if show == "video" %}
        {% assign active = true %}
      {% else %}
        {% assign active = false %}
      {% endif %}
      {%
        include components/clickable.html
        icon="fas fa-film"
        text="Animation"
        active=active
        onclick="figureShow(this, 'video')"
      %}
    </div>
  {% endif %}

  {% if include.image %}
    <img
      src="{{ include.image | relative_url }}"
      alt="{{ include.caption }}"
      style="{{ size }}"
      loading="lazy"
    />
  {% endif %}

  {% if include.video %}
    <video
      autoplay
      controls
      preload="metadata"
      style="{{ size }}"
    >
      <source
        src="{{ include.video | relative_url }}"
        type="video/mp4"
      >
    </video>
  {% endif %}
    
  {% if include.caption %}
    <figcaption class="figure_caption">
      {{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}
    </figcaption>
  {% endif %}
</figure>
