<div class="question">
  <div class="question_text">{{ include.question }}</div>
  <div class="question_choices">
    {% for i in (1..10) %}
      {% assign choice = "choice" | append: i %}
      {% assign choice = include[choice] %}
      {% if choice %}
        {% if i == include.correct %}
          {% assign correct = true %}
        {% else %}
          {% assign correct = false %}
        {% endif %}
        <label class="question_choice" data-correct="{{ correct }}">
          <input type="radio" name="{{ include.question }}" value="{{ choice }}">
          <span class="radio"></span>
          <span class="question_choice_text">{{ choice }}</span>
          <span class="question_choice_icon">
            {% if correct %}
              <i class="fas fa-check"></i>
            {% endif %}
          </span>
        </label>
      {% endif %}
    {% endfor %}
  </div>

  <div class="question_result question_unanswered">
    {% 
      include components/clickable.html
      text="Check Answer" 
      onclick="submitAnswer(this)"
    %}
  </div>

  <div class="question_result question_incorrect">
    <span>Not quite...</span>
    {% 
      include components/clickable.html
      text="Check Again" 
      onclick="submitAnswer(this)"
    %}
  </div>
  
  <div class="question_result question_correct">
    <span>Correct!</span>
    {% 
      include components/clickable.html
      text="Reset" 
      onclick="resetAnswer(this)"
    %}
  </div>
</div>
