<link rel="apple-touch-icon" sizes="180x180" href="{{ `favicons/ios.png` | relURL }}"/>
<link rel="icon" type="image/png" sizes="512x512" href="{{ `favicons/favicon.png` | relURL }}"/>
<link rel="manifest" href="{{ `favicons/site.webmanifest` | relURL }}" />
{{ $thumbnail := "" }}
{{ if .Params.video }}
  {{ $thumbnail = replace "https://img.youtube.com/vi/$VIDEO/hqdefault.jpg" "$VIDEO" .Params.video }}
{{ else }}
  {{ $thumbnail = "favicons/share-thumbnail.jpg" | relURL }}
{{ end }}
<meta property="og:image" content="{{ $thumbnail }}"/>
<meta property="twitter:image" content="{{ $thumbnail }}"/>
