<div class='header_background'>
  {{ $cells := 40 }}
  {{ $major := 4 }}
  {{ $size := 50 }}
  
  {{ $bound := div (mul $cells $size) 2 }}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="-{{ $bound }} -{{ $bound }} {{ mul $bound 2 }} {{ mul $bound 2 }}"
  >
    <g fill="none" stroke="#808080" stroke-width="2">
      {{ $from := div $cells -2 }}
      {{ $to := div $cells 2 }}
      <g>
        {{ range (seq $from $to) }}
          <line
            x1="{{ mul . $size }}"
            x2="{{ mul . $size }}"
            y1="-{{ $bound }}"
            y2="{{ $bound }}"
          />
        {{ end }}
      </g>
      <g>
        {{ range (seq $from $to) }}
          <line
            y1="{{ mul . $size }}"
            y2="{{ mul . $size }}"
            x1="-{{ $bound }}"
            x2="{{ $bound }}"
          />
        {{ end }}
      </g>
    </g>
    <g fill="none" stroke="#03a9f4" stroke-width="5">
      {{ $from := div (div $cells -2) $major }}
      {{ $to := div (div $cells 2) $major }}
      <g>
        {{ range (seq $from $to) }}
          <line
            x1="{{ mul (mul . $size) $major }}"
            x2="{{ mul (mul . $size) $major }}"
            y1="-{{ $bound }}"
            y2="{{ $bound }}"
          />
        {{ end }}
      </g>
      <g>
        {{ range (seq $from $to) }}
          <line
            y1="{{ mul (mul . $size) $major }}"
            y2="{{ mul (mul . $size) $major }}"
            x1="-{{ $bound }}"
            x2="{{ $bound }}"
          />
        {{ end }}
      </g>
    </g>
  </svg>  
</div>
