<!-- find lesson by slug/id, eg "wallis-product" -->
{{ $lesson := site.GetPage .id }}

{{ if $lesson }}
  <a
    {{ if not .active }}{{ with $lesson.RelPermalink }}href="{{ . }}"{{ end }}{{ end }}
    class="lesson_card {{ .class }}"
    data-active="{{ .active | default false }}"
    data-mini="{{ .mini | default false }}"
    data-reverse="{{ .reverse | default false }}"
    data-tooltip="{{ .tooltip }}"
    data-fade
  >

    {{ with .icon }}
      <i class="{{ . }}"></i>
    {{ end }}

    <img src="https://img.youtube.com/vi/{{ $lesson.Params.video }}/hqdefault.jpg" />

    <span class="lesson_card_text">

      {{ with $lesson.Params.title  }}
        <span>{{ . }}</span>
      {{ end }}

      {{ if not .mini }}

        {{ with $lesson.Params.description }}
          <span>{{ . }}</span>
        {{ end }}

        {{ with $lesson.Params.date }}
          <span>{{ dateFormat "Jan 2, 2006" . }}</span>
        {{ end }}

      {{ end }}

    </span>

  </a>
{{ end }}
