{{- $show := .show | default "topics" -}}

<div class="lesson_gallery" data-show="{{ $show }}">
  <p class="lesson_gallery_controls center">
    {{
      partial "clickable"
      (dict
        "text" "Featured"
        "onclick" "lessonGalleryTab(this, 'featured');"
        "active" (eq $show "featured")
      )
    }}
    {{
      partial "clickable"
      (dict
        "text" "By Topic"
        "onclick" "lessonGalleryTab(this, 'topics');"
        "active" (eq $show "topics")
      )
    }}
    {{
      partial "clickable"
      (dict
        "text" "By Date"
        "onclick" "lessonGalleryTab(this, 'date');"
        "active" (eq $show "date")
      )
    }}
  </p>

  {{ $pages := site.Pages }}
  
  <div class="lesson_gallery_tab" data-tab="featured">
    {{ range site.Data.featured }}
      {{ $lesson := index (where $pages "File.ContentBaseName" "==" .) 0 }}
      {{ partial "lesson-card" (dict "lesson" $lesson) }}
    {{ end }}
  </div>

  <div class="lesson_gallery_tab" data-tab="topics">
    {{ range site.Data.topics }}
      {{ partial "topic-card" (dict "name" .name) }}
      <div class="lessons">
        {{ range .lessons }}
          {{ $lesson := index (where $pages "File.ContentBaseName" "==" .) 0 }}
          {{ if $lesson.IsPage }}
            {{ partial "lesson-card" (dict "lesson" $lesson) }}
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </div>

  <div class="lesson_gallery_tab" data-tab="date">
    {{ range where site.Pages "Type" "==" "lessons" }}
      {{ if .IsPage }}
        {{ partial "lesson-card" (dict "lesson" .) }}
      {{ end }}
    {{ end }}
  </div>

</div>
