{{ $content := .Content }}

<!-- wrap tables in divs to allow scrolling -->
{{ $content = replace $content "<table>" "<div class='table_wrapper'><table>" }}
{{ $content = replace $content "</table>" "</table></div>" }}

<!-- put opening and closing sections -->
{{ $content = (print `<section><div class="section">` $content `</div></section>`) }}
<!-- delete empty sections -->
{{ $content = replaceRE `<section>\s*<div class="section">\s*<\/div>\s*<\/section>` "" $content }}

<!-- render main page content -->
{{ $content | safeHTML }}
