<meta name="title" content="{{ title }}" />
<meta name="description" content="{{ .Params.description | default .Site.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Site.location }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ .Params.description | default .Site.description }}" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ .Site.location }}" />
<meta property="twitter:title" content="{{ title }}" />
<meta property="twitter:description" content="{{ .Params.description | default .Site.description }}" />
<link rel="alternate" type="application/rss+xml" href="{{ `/feed.xml` | relURL }}"/>
