{{ $list := slice }}
{{ $date := .Params.date }}
{{ range site.Data.patrons }}
  {{ $start := time .start }}
  {{ $end := time .end }}
  {{ if and ($date.After $start) ($date.Before $end) }}
    {{ $list = $list | append .name }}
  {{ end }}
{{ end }}

{{ with $list }}
  <section>
    <div class="section">
      <h3 id="patrons">Patrons</h3>
      <p class="center">
        This lesson was made possible by the generosity of our Patrons!
      </p>
      <p class="patrons" data-open="false">
        {{ delimit . ", " }}
      </p>
      {{ partial "clickable" (dict "text" "See More" "onclick" "togglePatrons(this)") }}
    </div>
  </section>
{{ end }}
