.banner {
  z-index: -1;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.header-text > * {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2rem;
}

.logo {
  height: 150px;
}

.description {
  font-size: 1.2rem;
  color: $gray-700;
  font-family: $sans;
}

.introduction {
  font-size: 1.2rem;
  color: $gray-800;
  font-family: $serif;
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}

.highlights {
  width: 100%;

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

.images {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  background: $gray-900;
  overflow: hidden;

  img {
    height: 200px;
  }
}

.link {
  margin: 10px !important;
}

.tag {
  background: $gray-200;
  color: $gray-800;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin: 5px;
}
