$phone: 500px;

.section {
  &:last-child {
    flex-grow: 1;
  }

  &:nth-child(odd) {
    background: $gray-50;
  }

  &:nth-child(even) {
    background: $white;
  }

  &[data-dark="true"] {
    background: $gray-900;
    color: $white;
  }

  &[data-gray="50"] { background: $gray-50; }
  &[data-gray="100"] { background: $gray-100; }
  &[data-gray="200"] { background: $gray-200; }
  &[data-gray="300"] { background: $gray-300; }
  &[data-gray="400"] { background: $gray-400; }
  &[data-gray="500"] { background: $gray-500; color: $white; }
  &[data-gray="600"] { background: $gray-600; color: $white; }
  &[data-gray="700"] { background: $gray-700; color: $white; }
  &[data-gray="800"] { background: $gray-800; color: $white; }
  &[data-gray="900"] { background: $gray-900; color: $white; }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: $page;
  margin: 0 auto;
  padding: 40px;
  text-align: center;

  @media (max-width: $phone) {
    padding: 20px;
  }
}

.section[data-width="narrow"] > .wrapper {
  max-width: $page-narrow;
}

.section[data-width="wide"] > .wrapper {
  max-width: $page-wide;
}
