<footer>
  <div class="footer_copyright">
    &copy; {{ site.time | date: '%Y' }} Grant Sanderson
  </div>

  <div class="footer_icons">
    <a
      href="https://www.patreon.com/3blue1brown"
      data-tooltip="Patreon"
    >
      <i class="fab fa-patreon"></i>
    </a>
    <a
      href="https://www.youtube.com/3blue1brown"
      data-tooltip="YouTube"
    >
      <i class="fab fa-youtube"></i>
    </a>
    <a
      href="https://www.reddit.com/r/3Blue1Brown/"
      data-tooltip="Reddit"
    >
      <i class="fab fa-reddit-alien"></i>
    </a>
    <a
      href="https://twitter.com/3blue1brown"
      data-tooltip="Twitter"
    >
      <i class="fab fa-twitter"></i>
    </a>
    <a
      href="https://www.instagram.com/3blue1brown_animations/"
      data-tooltip="Instagram"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="http://www.facebook.com/3blue1brown"
      data-tooltip="Facebook"
    >
      <i class="fab fa-facebook"></i>
    </a>
    <a
      href="https://store.dftba.com/collections/3blue1brown"
      data-tooltip="Store"
    >
      <i class="fas fa-store"></i>
    </a>
  </div>
</footer>
