.h1,
.h2,
.h3,
.h4 {
  &:hover .anchor,
  .anchor:focus {
    opacity: 1;
  }
}

.anchor {
  display: inline-block;
  position: relative;
  width: 0;
  margin: 0;
  left: 1em;
  color: $light-blue-500;
  opacity: 0;
  font-size: 0.8em;
  text-decoration: none;
  transition: opacity $fast, color $fast;
}
