.container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "title featured"
    "subtitle featured"
    "social featured";
  gap: 30px;
  max-width: 100%;
  overflow: hidden;
}

.title {
  grid-area: title;

  font-family: $sans;
  font-size: 30px;
  text-align: left;
}

.subtitle {
  grid-area: subtitle;

  font-family: $sans;
  font-size: 16px;
  text-align: left;
  color: $gray-300;
}

.featured {
  grid-area: featured;
}

.social {
  grid-area: social;

  font-family: $sans;
  font-size: 20px;
  text-align: left;
}

.social_label {
  font-size: 16px;
  padding: 4px 8px
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "subtitle"
      "featured"
      "social";
    gap: 50px;
  }

  .title {
    font-size: 24px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  .social {
    text-align: center;
  }
}

.itemButtons {
  display: flex;
  justify-content: flex-start;

  a {
    margin: 0 !important;
    padding: 8px 12px !important;
    min-width: unset !important;
    min-height: 38px !important;
    background: transparent !important;
    color: white !important;

    &:hover,
    &:focus {
      background: black !important;
    }
  }
}

.itemFigure {
  margin: 0;
}

.itemFigure > *:not(.itemCaption) {
  margin: 0 !important;
}

.itemCaption {
  text-align: left;
  color: $gray-300;
  margin-top: 8px;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.carousel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "left slides right";
}

.slides {
  grid-area: slides;

  display: flex;
  align-items: flex-start;
  overflow: hidden;

  // Adjust gracefully when slides are different heights
  transition: max-height 400ms ease-in-out;
}

.slide {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;

  transition: transform 400ms ease-in-out;
}

.slide[data-visible="false"] {
  visibility: hidden;

  // Delay visibility so it waits to dissapear
  transition: transform 400ms ease-in-out, visibility 0ms linear 400ms;
}

.slide[data-visible="true"] {
  visibility: visible;
}

.arrowLeft,
.arrowRight {
  color: white;
  font-size: 48px;
  width: 50px;

  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
}

.arrowLeft {
  grid-area: left;
}

.arrowRight {
  grid-area: right;
}

@media (max-width: 600px) {
  .carousel {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "slides slides"
      "left right";
    row-gap: 20px;
  }

  .arrowLeft {
    place-self: center end;
  }

  .arrowRight {
    place-self: center start;
  }
}

.video {
  display: block;
  width: 100%;
  height: auto;
  background: black;
}

.videoLink {
  display: block;
}
