---
layout: default
---

{% include components/embed.html src=page.video %}

<h2>{{ page.title }}</h2>

{% include template/lesson-details.html %}

{% assign in-topic = nil %}
{% for topic in site.data.topics %}
  {% for lesson in topic.lessons %}
    {% if page.slug == lesson %}
      {% assign in-topic = true %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if in-topic %}

  {% include components/section.html %}

  {% include template/table-of-contents.html %}

{% endif %}

{% include components/section.html %}

{{ content }}

{% assign body = content | strip %}

{% if body != "" %}

  {% if in-topic %}

    {% include components/section.html %}

    {% include template/table-of-contents.html %}

  {% endif %}
  
  {% include components/section.html %}

  {% include template/patrons.html %}

  {% include components/section.html %}

  {% include template/license.html %}

  {% include components/section.html %}

  {% include template/comments.html %}

{% else %}  

<h3>Text version of this lesson coming soon</h3>

{% include components/pi-creature.html emotion="thinking" placement="inline" %}

{% endif %}