.portrait {
  margin: 0 auto 20px auto;
  @include trim-v-margins;
}

.imageWrapper {
  overflow: hidden;

  &[data-round="true"] {
    border-radius: 999px;
  }

  &[data-round="false"] {
    border-radius: 8px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.caption {
  font-family: $sans;
  font-size: 1.0rem;
  color: $gray-700;
  text-align: center;
  margin-top: 8px;
  line-height: 1.3;
}

@media (min-width: $page) {
  .portrait[data-sectionwidth="normal"][data-flip="false"] {
    margin-right: 40px;
    float: left;
  }

  .portrait[data-sectionwidth="normal"][data-flip="true"] {
    margin-left: 40px;
    float: right;
  }
}

@media (min-width: $page-narrow) {
  .portrait[data-sectionwidth="narrow"][data-flip="false"] {
    margin-right: 40px;
    float: left;
  }

  .portrait[data-sectionwidth="narrow"][data-flip="true"] {
    margin-left: 40px;
    float: right;
  }
}

.clearfix {
  clear: both;
  display: table;

  & + div + p {
    margin-top: 0;
  }
}
