.portrait {
  margin: 0 auto 20px auto;
  @include trim-v-margins;
  border-radius: 999px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $page) {
  .portrait[data-flip="false"] {
    margin-right: 40px;
    float: left;
  }

  .portrait[data-flip="true"] {
    margin-left: 40px;
    float: right;
  }
}

@media (max-width: $page) {
}
