{{ $context := . }}
{{ with .Params }}

  {{ $style := "" }}

  {{ if .width }}
    {{ $style = printf "width: %s" .width }}
  {{ else if .height }}
    {{ $style = printf "height: %s" .height }}
  {{ else }}
    {{ $style = "width: 100%" }}
  {{ end }}

  {{ $show := .show }}
  {{ if not $show }}
    {{ if .image }}
      {{ $show = "image" }}
    {{ else if .video }}
      {{ $show = "video" }}
    {{ end }}
  {{ end }}

  <figure class="figure" data-show="{{ $show }}">
    {{ if and .image .video }}
      <div class="figure_controls">
        {{ partial "clickable" (dict "icon" "far fa-image" "text" "Still" "active" (eq $show "image") "onclick" "figureShow(this, 'image')") }}
        {{ partial "clickable" (dict "icon" "fas fa-film" "text" "Animation" "active" (eq $show "video") "onclick" "figureShow(this, 'video')") }}
      </div>
    {{ end }}

    {{ if .image }}
      <img
        src="{{ partial `asset-url` (dict `context` $context `source` .image) }}"
        alt="{{ .caption }}"
        style="{{ $style }}"
        loading="lazy"
      />
    {{ end }}

    {{ if .video }}
      <video
        muted
        controls
        preload="metadata"
        style="{{ $style }}"
      >
        <source
          src="{{ partial `asset-url` (dict `context` $context `source` .video) }}"
          type="video/mp4"
        >
      </video>
    {{ end }}
      
    {{ with $context.Inner }}
      <figcaption class="figure_caption">
        {{ . | markdownify }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
